@inject Microsoft.AspNetCore.Identity.UserManager<CinemaTic.Data.Models.ApplicationUser> _userManager

@if (!User.IsInRole("Administrator") && !User.IsInRole("Owner"))
{
    <div id="sticky-wrapper" class="sticky-wrapper">
        <nav class="pb-2 navbar navbar-expand-lg justify-content-center">
            <div class="container-fluid d-flex justify-content-around">
                <a class="navbar-brand text-white d-flex align-items-center gap-3" asp-area="@null" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/navbar-logo.png" class="navbar-logo" />
                    <span>CinemaTic </span>
                </a>

                @if (!User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" asp-area="@null" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#features">Features</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#owner-why">Why CinemaTic</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav ms-lg-5 me-lg-auto text-white">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    @if (User.IsInRole("Customer"))
                    {
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-5 me-lg-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#cinemas">Cinemas</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#tickets">Tickets</a>
                                </li>

                                <li class="nav-item dropdown d-flex align-items-center">
                                    @{
                                        var user = await _userManager.FindByEmailAsync(User.Identity.Name);
                                    }
                                   <div>
                                        <a class="nav-link dropdown-toggle" href="#" id="your-cinemas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>

                                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="your-cinemas">
                                            <li><a class="dropdown-item" asp-area="@null" asp-controller="User" asp-action="ChangeProfilePicture">Change profile picture</a></li>
                                            <li><a class="dropdown-item" asp-area="@null" asp-controller="User" asp-action="ChangePassword">Change password</a></li>
                                            <li>
                                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                    <button class="dropdown-item">Logout</button>
                                                </form>
                                            </li>
                                        </ul>
                                   </div>
                                    <img id="profile-picture" src="~/client-images/Users/@user.ProfilePictureUrl" class="circle-image">
                                </li>
                            </ul>
                        </div>
                    }
                }
            </div>
        </nav>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/click-scroll.js"></script>
    <script>
        $(function () {
            var url = window.location.href;
            $(".nav-link").each(function () {
                if (url == (this.href)) {
                    $(this).closest("li").children().eq(0).addClass("active");
                }
            });
        });
    </script>
}