@model Cinema.ViewModels.Cinemas.CustomerCinemaPageViewModel
<link href="~/css/cardstyle.css" rel="stylesheet" />
<link href="~/css/cinemas.css" rel="stylesheet" />
<link href="~/css/search-dropdown.css" rel="stylesheet" />
<link href="~/css/ratingModal.css" rel="stylesheet" />
<div class="main-cinema-container">
    <nav>
        <div class="col-xl-12 d-flex justify-content-between align-items-center">
            <a id="logo-link" href="#">
                <img id="cinema-logo" src="~/client-images/Cinemas/@Model.CinemaLogoUrl" />
            </a>
            <div class="d-flex align-items-center gap-5">
                <div class="d-flex flex-column align-items-center">
                    <img id="profile-picture" src="~/client-images/defaults/man-avatar-profile-picture-vector-illustration_268834-538-removebg-preview.png" />
                    <a href="#" class="text-white">Your account</a>
                </div>
                <button onclick="history.back()" class="button active">
                    Go Back
                </button>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="button active">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="main">
        <img src="~/client-images/defaults/martin-martz-ZUj-wUCw0u4-unsplash.png" class="bg-image" />
        <div class="main-container pt-5">
            <div class="col-xl-12 text-white">
                <h5 class="text-center">Top movies, recommended by our sponsors: </h5>
            </div>
            <div class="movie-grid d-flex justify-content-center gap-3 mt-5" style="width: 100%;">
                <div class="card-wrapper">
                    <div class="card">
                        <img src="~/client-images/Movies/Batman.jpg" alt="cinema-logo">
                        <div class="descriptions">
                            <div class="description-buttons">
                                <a class="desc-button">
                                    <i class="fa-solid fa-circle-info f-size-b"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <img src="~/client-images/Movies/Kingsman-The-Secret-Service.jpg" alt="cinema-logo">
                        <div class="descriptions">
                            <div class="description-buttons">
                                <a class="desc-button">
                                    <i class="fa-solid fa-circle-info f-size-b"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card">
                        <img src="~/client-images/Movies/Django-Unchained.jpg" alt="cinema-logo">
                        <div class="descriptions">
                            <div class="description-buttons">
                                <a class="desc-button">
                                    <i class="fa-solid fa-circle-info f-size-b"></i>
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 mt-5 dates-container">
                <div class="row d-flex justify-content-between align-items-center">
                    <span>Book tickets</span>
                    <div class="d-flex selection-buttons">
                        <button class="active" id="movie-grid-button">Movie grid</button>
                        <div class="dropdown">
                            <button class="dropbtn" tabindex="0">
                                By movie
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                            <div class="dropdown-content dropdown-input">
                                <input type="text" placeholder="Search.." id="input-search" />
                                <div class="items d-flex flex-column">
                                    @foreach (var movie in Model.Movies)
                                    {
                                        <div>
                                            <button class="movie-item">@movie.Name</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <button class="date active" onkey>Today</button>
                    @foreach (var item in Model.Dates.Skip(1))
                    {
                        <button class="date" for-date="@item.Value">@item.Key</button>
                    }
                </div>
            </div>
            <section class="movies-list">
                <div class="gradient-box" style=""></div>
                <div class="dates-info-container">
                    <div id="movie-grid">
                    </div>
                    <div id="by-movie" hidden>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/cinemas.js"></script>
<script src="~/js/search-dropdown.js"></script>
<script>
    function getMovies(data) {
        $.ajax({
            type: "GET",
            url: `/Owners/GetMoviesByDate`,
            data: data,
            success: function (response) {
                $("#movie-grid").html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }

    window.onload = function () {
        getMovies({ cinemaId: '@Model.Id' });
    }

    let dateButtons = document.querySelectorAll('button.date');
    dateButtons.forEach(i => i.addEventListener("click", function () {
        dateButtons.forEach(k => k.classList.remove("active"));
        i.classList.add("active");

        getMovies({ cinemaId: '@Model.Id', date: i.getAttribute('for-date') });
    }));
    changeColors('@Model.BackgroundColor', '@Model.BoardColor', '@Model.TextColor', '@Model.ButtonBackgroundColor', '@Model.ButtonTextColor', '@Model.AccentColor');
</script>