@model Cinema.ViewModels.Movies.CreateMovieViewModel

@{
    ViewData["Title"] = "Add a new movie";
}
<link href="~/css/manageStyle.css" rel="stylesheet" />
<link href="~/css/search-dropdown.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="app-content">
    <div class="app-content-header">
        <h1 class="app-content-headerText">Add a movie</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <form asp-controller="Movies" asp-action="Create" method="get">
            <button class="app-content-headerButton">Add a movie</button>
        </form>
    </div>
    <div class="create-form">
        <form asp-controller="Movies" asp-action="Create" method="post" enctype="multipart/form-data" class="add-form">
            <div role="list" asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-film input-icon"></i>
                    <input asp-for="Title" class="form-control form-style" placeholder="Title" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-pen input-icon"></i>
                    <select asp-for="GenreId" asp-items="@Model.Genres" class="form-control form-style dropdown-select" placeholder="Genre">
                        <option selected disabled>-Select a genre-</option>
                    </select>
                </div>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-user input-icon"></i>
                    <input asp-for="Director" type="text" class="form-control form-style" placeholder="Director" />
                </div>
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-pen-to-square input-icon"></i>
                    <input asp-for="Description" type="text" class="form-control form-style" placeholder="Description" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-clock input-icon"></i>
                    <input asp-for="RunningTime" value="" type="text" class="form-control form-style" placeholder="Running time" />
                </div>
                <span asp-validation-for="RunningTime" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <div class="active-form">
                    <i class="fa-solid fa-film input-icon"></i>
                    <input asp-for="TrailerUrl" type="text" class="form-control form-style" placeholder="Trailer URL" />
                </div>
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <div class="active-form">
                    <i class="fa-solid fa-masks-theater input-icon" style="margin-right: 5%;"></i>
                    <div class="search-part d-flex flex-column">
                        <input type="text" placeholder="Search.." id="input-search" />
                        <div class="d-flex flex-column items actors-items">
                            @for (int i = 0; i < Model.ActorsDropdown.Count(); i++)
                            {
                                <div>
                                    <input type="checkbox" asp-for="@Model.ActorsDropdown[i].IsChecked" />
                                    <label class="actor-name" asp-for="@Model.ActorsDropdown[i].IsChecked">@Model.ActorsDropdown[i].FullName</label>

                                    <input type="hidden" asp-for="@Model.ActorsDropdown[i].Id" />
                                    <input type="hidden" asp-for="@Model.ActorsDropdown[i].FullName" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
@*                <span asp-validation-for="Actors" class="text-danger"></span>*@
            </div>

            <div class="form-group image-form-group">
                <div class="d-flex justify-content-between">
                    <div class="active-form image-upload">
                        <label asp-for="Image" for="image-upload" class="image-upload-box">
                            <i class="upload-text">Upload your movie's poster</i>
                        </label>
                        <input asp-for="Image" id="image-upload" class="form-control form-style upload-form" onchange="loadFile(event)" />
                    </div>
                    <div class="temp-img-container">
                        <img id="tempImg" hidden />
                    </div>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button class="app-content-headerButton" asp-route-userEmail="@User.Identity.Name">Add a movie</button>
        </form>
    </div>
</div>
<script src="~/js/ownerdashboard.js"></script>
<script src="~/js/search-dropdown.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
