@model Cinema.ViewModels.Movies.CreateMovieViewModel

@{
    ViewData["Title"] = "Add a new movie";
}
<link href="~/css/manageStyle.css" rel="stylesheet" />
<link href="~/css/search-dropdown.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="app-content">
    <div class="app-content-header">
        <h1 class="app-content-headerText">Add a movie</h1>
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
        <form asp-controller="Movies" asp-action="Create" method="get">
            <button class="app-content-headerButton">Add a movie</button>
        </form>
    </div>
    <div class="create-form">
        <form asp-controller="Movies" asp-action="Create" method="post" enctype="multipart/form-data" class="add-form">
            <div role="list" asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-film input-icon"></i>
                    <input asp-for="Title" class="form-control form-style" placeholder="Title" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-pen input-icon"></i>
                    <select asp-for="GenreId" asp-items="@Model.Genres" class="form-control form-style" placeholder="Genre" style="    background: black;
    border: 0;
    color: white;"></select>
                </div>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-calendar-days input-icon"></i>
                    <input asp-for="Director" type="text" class="form-control form-style" placeholder="Director" />
                </div>
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="fa-solid fa-calendar-days input-icon"></i>
                    <input asp-for="Description" type="text" class="form-control form-style" placeholder="Description" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="active-form">
                    <i class="input-icon">R</i>
                    <input asp-for="RunningTime" type="text" class="form-control form-style" placeholder="Running time" />
                </div>
                <span asp-validation-for="RunningTime" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <div class="active-form">
                    <i class="input-icon">C</i>
                    <input asp-for="TrailerUrl" type="text" class="form-control form-style" placeholder="Trailer URL" />
                </div>
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <div class="active-form">
                    <i class="input-icon">C</i>
                    <div class="search-part d-flex flex-column">
                        <input type="text" placeholder="Search.." id="input-search" />
                        <div class="d-flex flex-column items actors-items">
                            @for (int i = 0; i < Model.ActorsDropdown.Count(); i++)
                            {
                                <div>
                                    <input type="checkbox" asp-for="@Model.ActorsDropdown[i].IsChecked" />
                                    <label class="text-white" asp-for="@Model.ActorsDropdown[i].IsChecked">@Model.ActorsDropdown[i].FullName</label>

                                    <input type="hidden" asp-for="@Model.ActorsDropdown[i].Id" />
                                    <input type="hidden" asp-for="@Model.ActorsDropdown[i].FullName" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
@*                <span asp-validation-for="Actors" class="text-danger"></span>*@
            </div>

            <div class="form-group image-form-group">
                <div class="d-flex justify-content-between">
                    <div class="active-form image-upload">
                        <label asp-for="Image" for="image-upload" class="image-upload-box">
                            <i class="upload-text">Upload your movie's poster</i>
                        </label>
                        <input asp-for="Image" id="image-upload" class="form-control form-style upload-form" onchange="loadFile(event)" />
                    </div>
                    <div class="temp-img-container">
                        <img id="tempImg" hidden />
                    </div>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <button class="app-content-headerButton" asp-route-userEmail="@User.Identity.Name">Add a movie</button>
        </form>
    </div>
</div>
<script src="~/js/ownerdashboard.js"></script>
<script src="~/js/search-dropdown.js"></script>
@*<section class="front-panel">
    <div class="row">
        <h1>Add a new movie</h1>
        <div class="col-md-4">
            <form class="account" asp-controller="Movies" asp-action="Create" enctype="multipart/form-data">
                <hr class="section-line" />
                <div class="text-fields">
                    <div role="list" asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="GenreId" class="control-label"></label>
                            <select asp-for="GenreId" asp-items="@ViewBag.Genres" name="genreId" class="form-control">
                                <option disabled selected value="">-Select a genre-</option>
                            </select>
                        </div>
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form" style="align-items: flex-start;">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control t-area" rows="5" cols="10"></textarea>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="RunningTime" class="control-label"></label>
                            <input asp-for="RunningTime" class="form-control" />
                        </div>
                        <span asp-validation-for="RunningTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="TrailerUrl" class="control-label"></label>
                            <input asp-for="TrailerUrl" class="form-control" />
                        </div>
                        <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" type="date" class="form-control" />
                        </div>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Actors" class="control-label"></label>
                            <select asp-for="Actors" name="acts" asp-items="ViewBag.Actors" class="form-control"></select>
                        </div>
                        <span asp-validation-for="Actors" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="active-form">
                            <label asp-for="Image"></label>
                            <input asp-for="Image" class="form-control" />
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="nx-btn primary">Add</button>
            </form>
        </div>
    </div>
</section>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
