@model Cinema.ViewModels.Movies.MovieDetailsViewModel

@{
    ViewData["Title"] = $"Details - {Model.Title}";
}
<link href="~/css/ratingModal.css" rel="stylesheet" />
<link href="~/css/manageStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/cardStyle.css" />
<div class="app-content">
    <div class="app-content-header">
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
    </div>
    <div class="movie-container text-white mt-4">
        <div class="row align-items-center">
            <div class="col-md-8 col-sm-6 col-xs-12 owner-movie-details">
                <div class="col-xs-12 movie-title">
                    <h3>@Model.Title</h3>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 mb-3">
                    <h6>More information about</h6>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex flex-column">
                        <span>Release date:</span>
                        <span class="short-info">@Model.Date</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Running time:</span>
                        <span class="short-info">@Model.RunningTime minutes</span>
                    </div>
                </div>
                <div class="row mb-5">
                    <p class="movie-desc">@Model.Description</p>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between mb-3">
                        <span>Cast: </span>
                        <span class="actors-list">@string.Join(", ", Model.Actors)</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Director: </span>
                        <span class="actors-list">@Model.Director</span>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <button id="edit" class="action-button active crud-button open-popup-btn">Edit</button>
                    <button id="delete" class="action-button active crud-button open-popup-btn">Delete</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                <img src="~/client-images/Movies/@Model.ImageUrl" />
            </div>
            <h6 class="mt-5 owner-movie-details">The movie is currently offered in the following cinemas: </h6>
            <div class="products-area-wrapper tableView mt-1">
                <div class="products-header">
                    <div class="cinema-cell image">
                        Cinema
                        <button class="sort-button" id="name-sort-desc" title="Sort descending">
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                        <button class="sort-button" id="name-sort" title="Sort ascending">
                            <i class="fa-solid fa-arrow-up"></i>
                        </button>
                    </div>
                </div>
                <div class="results-container cinemas-grid" id="results-container">
                </div>
            </div>
            @if (Model.UserCinemas.Count > 0)
            {
                <form asp-controller="Owners" asp-action="AddMovieToCinemas" method="post">
                    <input type="hidden" asp-for="@Model.MovieId" />
                    <div class="col-md-8 col-sm-6 col-xs-12 mt-5 mb-3 owner-movie-details">
                        <h6>Add this movie to your cinemas</h6>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <div class="checkbox-cinemas">
                                @for (int i = 0; i < Model.UserCinemas.Count; i++)
                                {
                                    var cinema = Model.UserCinemas[i];

                                    <div class="movie-info-container">
                                        <div class="cinema-checkbox">
                                            <input type="checkbox" class="cinema-checkbox" id="cinemas" name="cinemas" value="@cinema.Id">
                                            <label for="cinemas">@cinema.Name</label>
                                        </div>
                                        <div class="date-selector" hidden>
                                            <input type="hidden" asp-for="@Model.UserCinemas[i].Id" />
                                            <div class="form-group">
                                                <div class="active-form">
                                                    <i class="fa-solid fa-calendar-days input-icon"></i>
                                                    <input asp-for="UserCinemas[i].FromDate" value="" type="text" class="form-control form-style" placeholder="From date" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="active-form">
                                                    <i class="fa-solid fa-calendar-days input-icon"></i>
                                                    <input asp-for="UserCinemas[i].ToDate" value="" type="text" class="form-control form-style" placeholder="To date" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="active-form">
                                                    <i class="fa-solid fa-dollar-sign input-icon"></i>
                                                    <input asp-for="UserCinemas[i].TicketPrice" value="" type="text" class="form-control form-style" placeholder="Ticket price" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button class="mt-4 mx-0 action-button active crud-button" type="submit" asp-controller="Owners" asp-action="AddMovieToCinemas">Submit</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<partial name="_PopupModalPartial" />
<script>
    var modalContainer = document.getElementById('review-form-container');
    var editButton = document.getElementById("edit");
    editButton.addEventListener("click", function () {
        modalContainer.innerHTML = "";
        getUDpartial('Movies', 'Edit', '@Model.MovieId');
    });

    var deleteButton = document.getElementById("delete");
    deleteButton.addEventListener("click", function () {
        modalContainer.innerHTML = "";
        getUDpartial('Movies', 'Delete', '@Model.MovieId');
    });

    document.querySelectorAll('input[name="cinemas"]').forEach(i => i.addEventListener("change", function () {
        if (i.checked) {
            i.parentElement.nextElementSibling.removeAttribute("hidden");
        }
        else {
            i.parentElement.nextElementSibling.setAttribute("hidden", "true");
        }
    }));
    $.ajax({
        type: "GET",
        url: `/Owners/GetCinemasContainingMovie`,
        data: { movieId: '@Model.MovieId', userEmail: '@User.Identity.Name' },
        success: function (response) {
            $("#results-container").html(response);
        },
        failure: function (response) {
            alert(response.responseText);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
</script>
<script src="~/js/ownerdashboard.js"></script>
<script src="~/js/rating-modal.js"></script>