@model Cinema.ViewModels.Movies.MovieDetailsViewModel

@{
    ViewData["Title"] = $"Details - {Model.Title}";
}
<link href="~/css/ratingModal.css" rel="stylesheet" />
<link href="~/css/manageStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/cardStyle.css" />
<div class="app-content">
    <div class="movie-container text-white">
        <div class="row align-items-center">
            <div class="col-md-8 col-sm-6 col-xs-12 owner-movie-details">
                <div class="col-xs-12 movie-title">
                    <h3>@Model.Title</h3>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 mb-3">
                    <h6>More information about</h6>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex flex-column">
                        <span>Release date:</span>
                        <span class="short-info">@Model.Date</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span>Running time:</span>
                        <span class="short-info">@Model.RunningTime minutes</span>
                    </div>
                </div>
                <div class="row mb-5">
                    <p class="movie-desc">@Model.Description</p>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-between mb-3">
                        <span>Cast: </span>
                        <span class="actors-list">@string.Join(", ", Model.Actors)</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Director: </span>
                        <span class="actors-list">@Model.Director</span>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <button id="edit" class="action-button active crud-button open-popup-btn">Edit</button>
                    <button id="delete" class="action-button active crud-button open-popup-btn">Delete</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                <img src="~/client-images/Movies/@Model.ImageUrl" />
            </div>
            <h6 class="mt-5 owner-movie-details">The movie is currently offered in the following cinemas: </h6>
            <div class="products-area-wrapper tableView mt-1">
                <div class="products-header">
                    <div class="cinema-cell image">
                        Cinema
                        <button class="sort-button" id="name-sort-desc" title="Sort descending">
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                        <button class="sort-button" id="name-sort" title="Sort ascending">
                            <i class="fa-solid fa-arrow-up"></i>
                        </button>
                    </div>
                </div>
                <div class="results-container cinemas-grid" id="results-container">
                </div>
            </div>
            @if (Model.UserCinemas.Count > 0)
            {
                <form asp-controller="Owners" asp-action="AddMovieToCinemas" method="post">
                    <input type="hidden" asp-for="@Model.MovieId" />
                    <div class="col-md-8 col-sm-6 col-xs-12 mt-5 mb-3">
                        <h6>Add this movie to your cinemas</h6>
                        <div class="d-flex flex-column align-items-start mt-4">
                            <div class="checkbox-cinemas">
                                @for (int i = 0; i < Model.UserCinemas.Count; i++)
                                {
                                    var cinema = Model.UserCinemas[i];

                                    <div class="movie-info-container">
                                        <div class="cinema-checkbox">
                                            <input type="checkbox" class="cinema-checkbox" id="cinemas" name="cinemas" value="@cinema.Id">
                                            <label for="cinemas">@cinema.Name</label>
                                        </div>
                                        <div class="date-selector" hidden>
                                            <input type="hidden" asp-for="@Model.UserCinemas[i].Id" />
                                            <div class="form-group">
                                                <div class="active-form">
                                                    <i class="fa-solid fa-calendar-days input-icon"></i>
                                                    <input asp-for="UserCinemas[i].FromDate" value="" type="text" class="form-control form-style" placeholder="From date" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="active-form">
                                                    <i class="fa-solid fa-calendar-days input-icon"></i>
                                                    <input asp-for="UserCinemas[i].ToDate" value="" type="text" class="form-control form-style" placeholder="To date" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="active-form">
                                                    <i class="fa-solid fa-dollar-sign input-icon"></i>
                                                    <input asp-for="UserCinemas[i].TicketPrice" value="" type="text" class="form-control form-style" placeholder="Ticket price" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button class="mt-4 mx-0 action-button active crud-button" type="submit" asp-controller="Owners" asp-action="AddMovieToCinemas">Submit</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div class="rating-container">
    <div id="modal" role="dialog" aria-modal="true" aria-labelledby="add-review-header" class="edit-modal">
        <button class="close-btn" aria-label="close" title="Close">x</button>
        <div id="review-form-container">
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
<script>
    var modalContainer = document.getElementById('review-form-container');
    var editButton = document.getElementById("edit");
    editButton.addEventListener("click", function () {
        modalContainer.innerHTML = "";
        getUDpartial('Movies', 'Edit', '@Model.MovieId');
    });

    var deleteButton = document.getElementById("delete");
    deleteButton.addEventListener("click", function () {
        modalContainer.innerHTML = "";
        getUDpartial('Movies', 'Delete', '@Model.MovieId');
    });

    document.querySelectorAll('input[name="cinemas"]').forEach(i => i.addEventListener("change", function () {
        if (i.checked) {
            i.parentElement.nextElementSibling.removeAttribute("hidden");
        }
        else {
            i.parentElement.nextElementSibling.setAttribute("hidden", "true");
        }
    }));
    $.ajax({
        type: "GET",
        url: `/Owners/GetCinemasContainingMovie`,
        data: { movieId: '@Model.MovieId', userEmail: '@User.Identity.Name' },
        success: function (response) {
            $("#results-container").html(response);
        },
        failure: function (response) {
            alert(response.responseText);
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
</script>
<script src="~/js/ownerdashboard.js"></script>
<script src="~/js/rating-modal.js"></script>
@*<div class="details front-panel">
    <div>
        <div class="short-info">
            <h1 class="section-line">@Model.Movie.Title</h1>
            <div class="short-info-line">
                <div class="info-box">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Movie.RunningTime)</p>
                    <p class="info-box-desc">@Html.DisplayFor(model => model.Movie.RunningTime) minutes</p>
                </div>
                <div class="rating-container">
                    <span>CinemaTic user rating</span>
                    <div class="rating-box">
                        <i class="fa-solid fa-star ct-rating-star"></i>
                        <div class="rating-number-box">
                            <span>@string.Format($"{Model.AverageRating:f1}/10")</span>
                            <span>@Model.RatingCount @string.Format($"{(Model.RatingCount == 1 ? "vote" : "votes")}")</span>
                        </div>
                    </div>
                </div>
                @if (User.IsInRole("Visitor"))
                {
                    <div class="rating-container">
                        <div id="modal" role="dialog" aria-modal="true" aria-labelledby="add-review-header" class="">
                            <button class="close-btn" aria-label="close" title="Close">x</button>
                            @if (Model.CurrentUserRating == null)
                            {
                                <h2 id="add-review-header">Rate @Model.Movie.Title</h2>
                            }
                            else
                            {
                                <h2 id="add-review-header">Change your vote @Model.Movie.Title</h2>
                            }
                            <div id="review-form-container">
                                <form id="review-form" asp-controller="Movies" asp-action="SetRating" method="post">
                                    <div class="fieldset">
                                        <div class="rate">
                                            @for (int i = 0; i < 10; i++)
                                            {
                                                <label class="modal-star-container">
                                                    <input type="radio" name="userRating" class="star" value="@(i + 1)" onclick="editButtons(this)" onmouseover="highlight(this)" onmouseout="highlight(this)" />
                                                    <i class="fa-solid fa-star yellow"></i>
                                                </label>
                                            }
                                        </div>
                                        <input asp-controller="Movies" asp-action="SetRating" asp-route-movieId="@Model.Movie.Id" method="post" id="submit-review-btn" class="nx-btn primary" value="@(Model.CurrentUserRating == null ? "Потвърди" : "Промени оценката")" type="submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-overlay"></div>

                        <span>Your rating</span>
                        <div class="rating-box">
                            <button id="review-add-btn" aria-label="add review" title="Add Review">
                                <i class="fa-solid fa-star ct-user-rating-star"></i>
                            </button>
                            <div class="rating-number-box">
                                @if (Model.CurrentUserRating == null)
                                {
                                    <span>Rate now!</span>
                                }
                                else
                                {
                                    <span>@string.Format($"{Model.CurrentUserRating:f1}/10")</span>
                                }
                            </div>
                        </div>
                    </div>
                }

                <script src="~/js/rating-modal.js"></script>
            </div>
        </div>
        <hr class="section-line" />
        <div class="details-grid">
            <img class="cover-photo" src="~/@Cinema.Utilities.Constants.ImagesFolder/Movies/@Model.Movie.ImageUrl" />
            <p>@Model.Movie.Description</p>
            <section class="details-info">
                <div class="info-box">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Movie.Price)</p>
                    <p class="info-box-desc">@Html.DisplayFor(model => model.Movie.Price)</p>
                </div>
                <div class="info-box">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Movie.Genre)</p>
                    <p class="info-box-desc">@Html.DisplayFor(model => model.Movie.Genre.Name)</p>
                </div>
                <div class="info-box actors">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Movie.Actors)</p>
                    <div class="info-box-desc">
                        @foreach (var actor in Model.Movie.Actors)
                        {
                            <p class="actor-name">
                                @if (User.IsInRole("Owner"))
                                {
                                    <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Actor.Id"><b>@actor.Actor.FirstName @actor.Actor.LastName</b></a>
                                }
                                else
                                {
                                    @string.Format($"{@actor.Actor.FirstName} {@actor.Actor.LastName}")
                                }
                            </p>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
    @if (User.IsInRole("Owner") == false)
    {
        <div class="details-schedule">
            <div class="details-schedule-dates">
                <button class="nx-btn primary" value="@DateTime.Today.ToString("dd.MM.yyyy")" onclick="showByDate(this)">Today</button>
                <button class="nx-btn primary" value="@DateTime.Today.AddDays(1).ToString("dd.MM.yyyy")" onclick="showByDate(this)">Tomorrow</button>
                @for (int i = 2; i <= 7; i++)
                {
                    string date = DateTime.Today.AddDays(i).ToString("dd.MM.yyyy");
                    <button class="nx-btn primary" value="@date" onclick="showByDate(this)">@date</button>
                }
            </div>
            <div class="details-schedule-projections">
                @{
                    var startingDate = Model.Movie.Date;
                }
                @for (DateTime date = startingDate; date < startingDate.AddDays(7); date = date.AddDays(1))
                {
                    <div class="projection hidden @date.ToString("dd.MM.yyyy")">
                        <a class="nx-btn projection-hour" asp-controller="Tickets" asp-action="Create" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@date">Buy a ticket</a>
                    </div>
                }
            </div>
        </div>
    }
</div>
<script>
    function showByDate(button) {
        var date = button.value;
        var projections = document.getElementsByClassName("projection");
        for (var i = 0; i < projections.length; i++) {
            if (projections[i].classList.contains(date)) {
                projections[i].classList.remove("hidden");
            }
            else {
                projections[i].classList.add("hidden");
            }
        }
        //if (Array(projections).filter(i => i.classList.contains("hidden") == false).length == 0) {
        //    document.getElementByClassName("details-schedule-projections")[0].innerHTML = "Няма прожекции за тази дата";
        //}
    }
</script>*@