@model IEnumerable<Cinema.Models.Movie>

@{
    ViewData["Title"] = "Филми";
}

<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1>Филми</h1>
    <a class="nx-btn front-panel" asp-controller="Movies" asp-action="Create">Добави нов филм</a>
    <table class="rwd-table movies-table">
        <tbody>
            <tr>
                <th>Име</th>
                <th>Жанр </th>
                <th>Среден потребителски рейтинг </th>
                <th>Брой оценки </th>
                <th>Започва прожекции на: </th>
                <th>Цена </th>
                <th>Наличен? </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var movie in Model)
            {
                <tr class="owner">
                    <td>@movie.BulgarianTitle</td>
                    <td>
                        <a asp-controller="Genres" asp-action="Details" asp-route-id="@movie.Genre.Id"><b>@movie.Genre.BulgarianName</b></a>
                    </td>
                    <td>@movie.UserRating / 10.0</td>
                    <td>@movie.RatingCount</td>
                    <td>@movie.Date.ToString("dd.MM.yyyy")</td>
                    <td>@movie.Price</td>
                    @{ 
                        var isAvailable = DateTime.Now >= movie.Date && Math.Abs((movie.Date - DateTime.Now).TotalDays) <= 7;
                    }
                    <td class="col-@(isAvailable ? "green" : "red")">
                        <b>@string.Format($"{(isAvailable ? "ДА" : "НЕ")}")</b>
                    </td>
                    <td class="control">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                            <i class="fa-solid fa-circle-info f-green-color-size-b"></i>
                            <b>Детайли</b>
                        </a>
                    </td>
                    <td class="control">
                        <a asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id">
                            <i class="fa-solid fa-pencil"></i>
                            <b>Промени</b>
                        </a>
                    </td>
                    <td class="control">
                        <a asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id">
                            <i class="fa-solid fa-circle-xmark f-color-size-b"></i>
                            <b>Премахни</b>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>