@model Cinema.ViewModels.Tickets.BuyTicketViewModel
@{
    TempData["ForDateTime"] = Model.ForDateTime;
    TempData["CinemaId"] = Model.CinemaId;
    ViewData["Title"] = $"Buy ticket - {Model.Title}";
}
<link href="~/css/cinemas.css" rel="stylesheet" />
<link href="~/lib/toastr/toastr.css" rel="stylesheet" />
<link href="~/css/ratingmodal.css" rel="stylesheet" />
<div class="main-cinema-container">
    <nav>
        <div class="col-xl-12 d-flex justify-content-between align-items-center">
            <a id="logo-link" href="#">
            </a>
            <div class="">
                asdasd
            </div>
        </div>
    </nav>
    <div class="movie movie-details d-flex justify-content-center align-items-start gap-3 text-white">
        <img src="~/client-images/Movies/@Model.ImageUrl" />
        <div class="movie-details-container d-flex flex-column gap-3 text-white">
            <h3>@Model.Title</h3>
            <span>@($"{Model.ForDateTime.DayOfWeek.ToString()} {Model.ForDateTime.Day} {Model.ForDateTime.ToString("MMMM")} at {Model.ForDateTime.ToString("hh:mm tt")}")</span>
            <span class="description">@Model.Description</span>
            <span>Cinema: <b>@Model.CinemaName</b></span>
        </div>
    </div>
   <div class="main-content">
        <div id="results-container" class="ticket-purchase-container">
           
        </div>
   </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/toastr/toastr.js"></script>
<script>
    toastr.options.closeButton = true;
    toastr.options.newestOnTop = true;
    window.onload = function () {
        $.ajax({
            type: "GET",
            url: `/Sectors/GetCinemaSectors`,
            data: { id: '@Model.CinemaId', movieId: '@Model.MovieId' },
            success: function (response) {
                $("#results-container").html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>