@model PaginatedList<Cinema.ViewModels.Customers.CustomerTicketViewModel>
@{
    ViewData["Title"] = "Your tickets";
}

<partial name="_NavbarPartial" />
<link href="~/css/customer-table.css" rel="stylesheet" />
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<section class="main-section hero-section d-flex justify-content-center align-items-start" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li class="page-item @prevDisabled">
                        <a asp-action="Tickets"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           class="btn btn-default page-link @prevDisabled">
                            Previous
                        </a>
                    </li>
                    <li class="page-item @nextDisabled">
                        <a asp-action="Tickets"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           class="btn btn-default page-link @nextDisabled">
                            Next
                        </a>
                    </li>
                </ul>
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Movie</th>
                                <th>Serial number</th>
                                <th>Cinema</th>
                                <th>Sector</th>
                                <th>Price</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model)
                            {
                                <tr class="alert bg-white" role="alert">
                                    <td>
                                    </td>
                                    <td class="d-flex align-items-center gap-3">
                                        <div class="img">
                                            <img src="~/client-images/Movies/@ticket.MoviePosterUrl" />
                                        </div>
                                        <div class="pl-3 email">
                                            <span>@ticket.Movie</span>
                                            <span>Date: @ticket.Date</span>
                                        </div>
                                    </td>
                                    <td>@ticket.SerialNumber</td>
                                    <td>@ticket.Cinema</td>
                                    <td class="status">
                                        <span class="active">
                                            @ticket.Sector
                                        </span>
                                    </td>
                                    <td>@ticket.Price</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>