@model IEnumerable<Cinema.Data.Models.Movie>
<div class="moviesContainer">
    <link rel="stylesheet" href="~/css/cardStyle.css" />
    @foreach (var movie in Model)
    {
        <div class="card-wrapper">
            <div class="card">
                <img src="~/@Cinema.Core.Utilities.Constants.ImagesFolder/Movies/@movie.ImageUrl" />
                <div class="descriptions">
                    <div class="description-buttons">
                        @if (User.IsInRole("Owner") == false)
                        {
                            <div class="desc-button projection-info">
                                @*<p>Available from @movie.Date.ToString("dd.MM.yyyy") to @movie.Date.AddDays(6).ToString("dd.MM.yyyy")</p>*@
                            </div>
                            <div class="desc-button">
                                <i class="fa-solid fa-film f-size-b"></i>
                                <a asp-controller="Movies" asp-action="WatchTrailer"  asp-route-id="@movie.Id">Watch trailer</a>
                            </div>
                        }
                        <a class="desc-button" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                            <i class="fa-solid fa-circle-info f-size-b"></i>
                            Details
                        </a>
                        @if (User.IsInRole("Owner") == false)
                        {
                            <a class="desc-button" asp-controller="Tickets" asp-action="Create" asp-route-movieId="@movie.Id"  asp-route-forDate="@DateTime.Today">
                                <i class="fa-solid fa-cart-shopping f-size-b"></i>
                                Buy a ticket for today
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>