@model CinemaTic.ViewModels.Tickets.BuyTicketViewModel
@{
    TempData["CinemaId"] = Model.CinemaId;
    ViewData["Title"] = $"Buy ticket - {Model.Title}";
}
<link href="~/css/cinemas.css" rel="stylesheet" />
<link href="~/lib/toastr/toastr.css" rel="stylesheet" />
<link href="~/css/modal.css" rel="stylesheet" />
<div class="main-cinema-container">
    <div class="movie movie-details d-flex justify-content-center align-items-start gap-3 text-white" style="    padding-top: 15vh !important;">
        <img src="~/client-images/Movies/@Model.ImageUrl" />
        <div class="movie-details-container d-flex flex-column gap-3 text-white">
            <h3>@Model.Title</h3>
            <span>@($"{Model.ForDateTime.DayOfWeek.ToString()}, {Model.ForDateTime.Day} {Model.ForDateTime.ToString("MMMM")} at {Model.ForDateTime.ToString("hh:mm tt")}")</span>
            <span class="description">@Model.Description</span>
            <span>Cinema: <b>@Model.CinemaName</b></span>
        </div>
    </div>
   <div class="main-content">
        <div id="results-container" class="ticket-purchase-container">
           
        </div>
   </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/toastr/toastr.js"></script>
<script>
    toastr.options.closeButton = true;
    toastr.options.newestOnTop = true;
    window.onload = function () {
        $.ajax({
            type: "GET",
            url: `/Customer/Sectors/GetCinemaSectors`,
            data: { cinemaId: '@Model.CinemaId', movieId: '@Model.MovieId', forDate: '@Model.ForDateTime' },
            success: function (response) {
                $("#results-container").html(response);
            },
            failure: function (response) {
                window.location = '/Error/statuscode=403';
            },
            error: function (response) {
                window.location = '/Error/statuscode=403';
            }
        });
    }
</script>