@model IEnumerable<Cinema.Data.Models.Movie>

@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/cardStyle.css" />
<h1>CinemaTic cinema management</h1>

<h3>Movies today: </h3>
<partial name="HomeMoviesPartial" 
         model="@Model.Where(i => DateTime.Now >= i.Date && Math.Abs((i.Date - DateTime.Now).TotalDays) <= 7)" />
<hr class="section-line" style="margin: 40px 0px;"/>
<h3>Upcoming movies: </h3>
<div class="moviesContainer">
    @foreach (var movie in Model.Where(i => (i.Date - DateTime.Today).TotalDays > 7))
    {
        <div class="card-wrapper">
            <div class="card">
                <img src="~/@Cinema.Utilities.Constants.ImagesFolder/Movies/@movie.ImageUrl" />
                <div class="descriptions">
                    <div class="description-buttons">
                        @if (User.IsInRole("Owner") == false)
                        {
                            <div class="desc-button projection-info">
                                <p>Available from @movie.Date.ToString("dd.MM.yyyy") to @movie.Date.AddDays(6).ToString("dd.MM.yyyy")</p>
                            </div>
                            <div class="desc-button">
                                <i class="fa-solid fa-film f-size-b"></i>
                                <a asp-controller="Movies" asp-action="WatchTrailer" asp-route-id="@movie.Id">Watch trailer</a>
                            </div>
                        }
                        <a class="desc-button" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                            <i class="fa-solid fa-circle-info f-size-b"></i>
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>