@model IEnumerable<Cinema.Models.Movie>

@{
    ViewData["Title"] = "Начало";
}

<link rel="stylesheet" href="~/css/cardStyle.css" />
<h1>Киносалон CinemaTic</h1>

<h3>Филмите днес: </h3>
<partial name="HomeMoviesPartial" model="@Model.Where(i => Math.Abs((i.Date - DateTime.Now).TotalDays) <= 7)" />
<hr class="section-line" style="margin: 40px 0px;"/>
<h3>Предстоящи филми: </h3>
<div class="moviesContainer">
    @foreach (var movie in Model)
    {
        <div class="card-wrapper">
            <div class="card">
                <img src="~/@Cinema.Utilities.Constants.ImagesFolder/Movies/@movie.ImageUrl" />
                <div class="descriptions">
                    <div class="description-buttons">
                        @if (User.IsInRole("Owner") == false)
                        {
                            <div class="desc-button projection-info">
                                <p>Прожектира се от @movie.Date.ToString("dd.MM.yyyy") до  @movie.Date.AddDays(6).ToString("dd.MM.yyyy") включително.</p>
                            </div>
                            <div class="desc-button">
                                <i class="fa-solid fa-film f-size-b"></i>
                                <a>Гледай трейлър</a>
                            </div>
                        }
                        <a class="desc-button" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                            <i class="fa-solid fa-circle-info f-size-b"></i>
                            Детайли
                        </a>
                        @if (User.IsInRole("Owner") == false)
                        {
                            <a class="desc-button" asp-controller="Tickets" asp-action="Create" asp-route-movieId="@movie.Id">
                                <i class="fa-solid fa-cart-shopping f-size-b"></i>
                                Купи билет
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>