@model IEnumerable<Cinema.Models.Genre>

@{
    ViewData["Title"] = "Жанрове";
}

<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1>Жанрове</h1>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th>Име на жанра</th>
                <th>Брой филми</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var genre in Model)
            {
                <tr class="owner">
                    <td>
                        @genre.BulgarianName (@genre.EnglishName)
                    </td>
                    <td>
                        @genre.Movies.Count
                    </td>
                    <td>
                        <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id"><b>Списък с филми</b></a>
                    </td>
                    <td>
                        <a asp-controller="Genres" asp-action="Delete" asp-route-id="@genre.Id">
                            <i class="fa-solid fa-circle-xmark f-color-size-b"></i>
                            Премахни
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Genres" asp-action="Edit" asp-route-id="@genre.Id">
                            <i class="fa-solid fa-pencil"></i>
                            Промени
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="nx-btn front-panel" asp-controller="Genres" asp-action="Create">Добави нов жанр</a>
</div>
