@using CinemaTic.Core.Utilities;
@model CinemaTic.ViewModels.Sectors.SectorGridViewModel
@{
    TempData["ForDateTime"] = Model.ForDateTime;
}
<h4 class="text-center mb-3">Select a sector</h4>
<div class="d-flex flex-wrap" id="sectors-grid-container">
    @foreach (var sector in Model.Sectors)
    {
        <button class="action-button active crud-button sector-button" id="@sector.Id">
            @sector.Name
        </button>
    }
</div>
<div class="screen-display d-flex flex-column justify-content-center align-items-center w-100 pt-5">
    <div class="screen-title d-flex justify-content-around align-items-center text-white">Screen</div>
    <div class="screen-line w-100 m-auto">
    </div>
</div>
<script>
    function showSector() {
        let rowNumber = Number('@Constants.SectorRows');
        let currentRows = Number('@Model.Rows');
        let percent = 100 / Math.floor((currentRows / rowNumber) + 1);
        let container = document.getElementById('sectors-grid-container').children;
        for (const child of container) {
            child.style.flexBasis = `${percent}%`;
        }

        document.querySelectorAll('.sector-button').forEach(i => i.addEventListener("click", function () {
            document.getElementById('results-container').innerHTML = "";
            $.ajax({
                type: "GET",
                url: `/Sectors/GetSectorLayout`,
                data: { id: i.id, movieId: '@Model.ForMovieId', forDateTime: '@Model.ForDateTime'},
                success: function (response) {
                    $("#results-container").html(response);
                },
                failure: function (response) {
                    window.location = '/Error/statuscode=403';
                },
                error: function (response) {
                    window.location = '/Error/statuscode=403';
                }
            });
        }));
    }
    showSector();
</script>