@model IEnumerable<Cinema.ViewModels.Admin.UserDetailsViewModel>

<link href="~/css/ratingmodal.css" rel="stylesheet" />
@foreach (var user in Model)
{
    <div class="cinema-row info-cinema">
        <button class="cell-more-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1" /><circle cx="12" cy="5" r="1" /><circle cx="12" cy="19" r="1" /></svg>
        </button>
        <div class="cinema-cell image" title="@user.FullName">
            <a class="d-flex align-items-center cinema-link" asp-controller="Admin" asp-action="User" asp-route-id="@user.Id">
                <img src="~/client-images/Users/@user.ImageUrl" alt="cinema-logo">
                <span>@user.FullName</span>
            </a>
        </div>
        <div class="cinema-cell status-cell">
            <span class="cell-label">Email:</span>
            <span>@user.UserName</span>
        </div>
        <div class="cinema-cell added-by">
            <span class="cell-label">Roles:</span>
            <span>@user.Roles</span>
        </div>
        <div class="cinema-cell added-by">
            <span class="cell-label">Admin actions:</span>
            <div class="admin-actions" id="@user.Id">
                @if (user.Roles.Contains("Owner"))
                {
                    <button class="demote open-popup-btn" title="Demote">
                        <i class="fa-solid fa-user blue"></i>
                        Demote
                    </button>
                }
                else if (user.Roles.Contains("Customer"))
                {
                    <button class="promote open-popup-btn" title="Promote to owner">
                        <i class="fa-solid fa-user green"></i>
                        Promote to owner
                    </button>
                }
                <button class="delete open-popup-btn" title="Delete account">
                    <i class="fa-solid fa-user text-danger"></i>
                    Delete account
                </button>
            </div>
        </div>
    </div>
}
<script src="~/js/rating-modal.js"></script>
<script>
    var modalContainer = document.getElementById('review-form-container');

    var promoteButton = document.querySelectorAll(".promote");
    promoteButton.forEach(i => i.addEventListener("click", function () {
        console.log(1);
        modalContainer.innerHTML = "";
        getUDpartial('Admin', 'PromoteToOwner', i.parentElement.id);
    }));

    var demoteButton = document.querySelectorAll(".demote");
    demoteButton.forEach(i => i.addEventListener("click", function () {
        console.log(2);
        modalContainer.innerHTML = "";
        getUDpartial('Admin', 'DemoteUser', i.parentElement.id);
    }));

    var deleteButton = document.querySelectorAll(".delete");
    deleteButton.forEach(i => i.addEventListener("click", function () {
        console.log(3);
        modalContainer.innerHTML = "";
        getUDpartial('Admin', 'DeleteUserAccount', i.parentElement.id);
    }));
</script>