@model IEnumerable<Cinema.Data.Models.ApplicationUser>
@inject Microsoft.AspNetCore.Identity.UserManager<Cinema.Data.Models.ApplicationUser> _userManager
@{
    ViewData["Title"] = "Admin dashboard";
}
<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1>CinemaTic owners</h1>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th>Owner name</th>
                <th>Owner email</th>
                <th></th>
            </tr>
            @foreach (var owner in Model.Where(i => _userManager.IsInRoleAsync(i, "Owner").Result == true))
            {
                <tr class="owner">
                    <td>@string.Format($"{owner.FirstName} {owner.LastName}")</td>
                    <td>@owner.Email</td>
                    <td>
                        <a asp-controller="Admin" asp-action="DeleteFromOwnerRole" asp-route-ownerId="@owner.Id">
                            <i class="fa-solid fa-circle-xmark f-color-size-b"></i>
                            Remove owner credentials
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h1>CinemaTic visitors</h1>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th>Visitor name</th>
                <th>Visitor email</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var visitor in Model.Where(i => _userManager.IsInRoleAsync(i, "Visitor").Result == true))
            {
                <tr class="owner">
                    <td>@string.Format($"{visitor.FirstName} {visitor.LastName}")</td>
                    <td>@visitor.Email</td>
                    <td>
                        <a asp-controller="Admin" asp-action="SetToOwner" asp-route-userId="@visitor.Id">
                            <i class="fa-solid fa-user f-green-color-size-b"></i>
                            Make this user owner
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Admin" asp-action="DeleteVisitorAccount" asp-route-userId="@visitor.Id">
                            <i class="fa-solid fa-circle-xmark f-color-size-b"></i>
                            Remove visitor account
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>