@model Cinema.ViewModels.Admin.UserDetailsViewModel
@{
    ViewData["Title"] = $"User - {Model.FullName}";
}

<div class="app-content">
    <div class="app-content-header">
        <button class="mode-switch" title="Switch Theme">
            <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
        </button>
    </div>
    <div class="cinema-cell image details-photo-pic mt-3">
        <a class="d-flex align-items-center cinema-link flex-column">
            <img src="~/client-images/Users/@Model.ImageUrl" alt="cinema-logo" class="user-profile-picture mb-3">
            <span>@Model.FullName</span>
            <span>@Model.UserName</span>
            <span>@Model.Roles</span>
        </a>
        <div class="my-5 actions-container">
            <h5 class="text-center mb-4">Actions</h5>
            <div class="actions d-flex flex-column gap-3">
                @foreach (var item in Model.Actions)
                {
                    <div class="action @item.Type">
                        <span>@item.Action</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/js/ownerdashboard.js"></script>