@model IEnumerable<Cinema.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1>Посетители</h1>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th>Имена</th>
                <th>Билет за: </th>
            </tr>
            @foreach (var visitor in Model)
            {
                <tr class="owner">
                    <td>
                        @string.Format($"{visitor.FirstName} {visitor.LastName}")
                    </td>
                    <td>
                        @foreach (var ticket in visitor.Tickets)
                        {
                            <p><a asp-controller="Movies" asp-action="Details" asp-route-id="@ticket.Movie.Id">@ticket.Movie.Title</a> - @ticket.ForDate.ToString("dd-MM-yyyy") - @ticket.Seat.SeatNumber</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>