@model Cinema.Models.ViewModels.BuyTicketViewModel

@{
    ViewData["Title"] = "Купи билет";
}

<h1>Купи билет за филм "@Model.Movie.BulgarianTitle"</h1>
<hr />
<link href="~/css/seatsStyle.css" rel="stylesheet" />
@if (Model.Occupied.Cast<bool>().All(i => i == true) == false)
{
    <script>
        function scale(siteElement) {
            if (siteElement.checked) {
                siteElement.style.transform = "scale(1.5)";
            }
            else {
                siteElement.style.transform = "scale(1.0)";
            }
        }

    </script>
    <div class="row front-panel">
        <div class="col-md-4">
            <div role="list" asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <div class="seats">
                    @if (string.IsNullOrEmpty(Model.Sector))
                    {
                        <div class="sector-selector sector-container">
                            <div class="sector-container-row-heading">РЕДОВЕ</div>
                            <div class="sector-grid">
                                <div class="sector-container-col-heading">КОЛОНИ</div>
                                <div class="sector-line">
                                    <div class="sector-box">
                                        <div class="seats-line">
                                            <span>1</span>
                                            <span class="right-seat">10</span>
                                        </div>
                                        <a class="sector" asp-controller="Tickets" asp-action="Create" asp-route-sector="A" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate">A</a>
                                    </div>
                                    <div class="sector-box">
                                        <div class="seats-line">
                                            <span>11</span>
                                            <span class="right-seat">20</span>
                                        </div>
                                        <a class="sector" asp-controller="Tickets" asp-action="Create" asp-route-sector="B" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate">B</a>
                                    </div>
                                    <div class="sector-box">
                                        <div class="seats-line">
                                            <span>21</span>
                                            <span class="right-seat">31</span>
                                        </div>
                                        <a class="sector" asp-controller="Tickets" asp-action="Create" asp-route-sector="C" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate">C</a>
                                    </div>
                                </div>
                                <div class="sector-line">
                                    <div class="sector-box">
                                        <a class="sector" asp-controller="Tickets" asp-action="Create" asp-route-sector="D" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate">D</a>
                                    </div>
                                    <div class="sector-box">
                                        <a class="sector" asp-controller="Tickets" asp-action="Create" asp-route-sector="E" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate">E</a>
                                    </div>
                                    <div class="sector-box">
                                        <a class="sector" asp-controller="Tickets" asp-action="Create" asp-route-sector="F" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate">F</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <form asp-controller="Tickets" asp-action="Create" method="post">
                            @for (int i = Model.StartingRow - 1; i < Model.EndingRow; i++)
                            {
                                <div class="seat-row">
                                    @for (int j = Model.StartingCol - 1; j < Model.EndingCol; j++)
                                    {
                                        <div class="seat seat-ind">
                                            <label>
                                                <input type="radio" class="radio @(Model.Occupied[i, j] == true ? "disabled" : "")" name="seatCoords" value="@i @j" onclick="outputSeat(this)" @(Model.Occupied[i, j] == true ? "disabled" : "") />

                                                <i class="fa-solid fa-couch @(Model.Occupied[i, j] == true ? "red" : "green") "></i> <!--Change-->
                                            </label>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="form-group seat-submit-form">
                                <p id="selected-seat">Нямате избрано място</p>
                                <input id="submit-seat-btn" disabled type="submit" value="Купи" class="nx-btn primary" asp-route-movieId="@Model.Movie.Id" asp-route-forDate="@Model.ForDate" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function outputSeat(seat) {
            if (seat.checked == true) {
                document.getElementById("submit-seat-btn").removeAttribute("disabled");
                document.getElementById("submit-seat-btn").style.cursor = "pointer";

                var coords = seat.getAttribute("value").split(" ");

                let row = coords[0];
                let col = coords[1];

                const zeroPad = (num, places) => String(num).padStart(places, '0');

                let line = document.getElementById("selected-seat");
                line.innerHTML = `Вашето място е R${zeroPad(row, 2)}C${zeroPad(col, 2)}.`;
            }
        }
    </script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
