@model IEnumerable<Cinema.Models.Ticket>

@{
    ViewData["Title"] = (User.IsInRole("Owner") ? "Билети" : "Вашите билети");
}

<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    @if (User.IsInRole("Owner"))
    {
        <h1>Билети</h1>
    }
    else
    {
        <h1>Вашите билети</h1>
    }
    <table class="rwd-table">
        <tbody>
            <tr>
                <th>Филм</th>
                <th>Дата</th>
                <th>Цена</th>
                <th>Номер на място</th>
            </tr>
            @if (Model.Count() > 0)
            {
                @foreach (var ticket in Model)
                {
                    <tr class="owner">
                        <td>
                            <div class="movie-table-info">
                                <div>@ticket.Movie.BulgarianTitle</div>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@ticket.Movie.Id"><b>Виж повече</b></a>
                            </div>
                        </td>
                        <td>
                            @ticket.ForDate.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            @ticket.Price лв.
                        </td>
                        <td>
                            @ticket.Seat.SeatNumber
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="owner">
                    <td colspan="4" style="text-align: center;">
                        <b>Няма билети!</b>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>