@model IEnumerable<CinemaTic.ViewModels.Movies.CinemaMovieViewModel>

@foreach (var movie in Model)
{
    <div class="movie d-flex gap-5">
        <div class="movie-poster open-popup-btn position-relative" id="@movie.TrailerId">
            <img src="~/client-images/Movies/@movie.ImageUrl" />
            @if (string.IsNullOrEmpty(movie.TrailerId) == false)
            {
                <i class="fa-regular fa-circle-play trailer-play-button open-popup-btn" id="@movie.TrailerId"></i>
                <div class="movie-poster-overlay"></div>
            }
        </div>
        <div class="movie-info d-flex justify-content-start align-items-start flex-column gap-2">
            <h5><a asp-controller="Customer" asp-action="MovieDetails" asp-route-id="@movie.Id">@movie.Name</a></h5>
            <div class="d-flex genre-time flex-column">
                <span>@movie.Genre</span>
                <span>@movie.RunningTime minutes</span>
            </div>
            <div class="d-flex flex-wrap gap-2">
                @foreach (var time in movie.Schedule)
                {
                    <form>
                        <a class="time-button" asp-controller="Customer" asp-action="BuyTicket" asp-route-cinemaId="@movie.CinemaId" asp-route-movieId="@movie.Id" asp-route-forDate="@time">@time.ToString("hh:mm tt")</a>
                    </form>
                }
            </div>
        </div>
    </div>
}
<script>
    openButtons = document.querySelectorAll('.open-popup-btn');
    modal = document.getElementById('modal');
    modalOverlay = document.querySelector('.modal-overlay');
    openButtons.forEach(i => i.addEventListener('click', openModal));

    document.querySelectorAll('.movie-poster, .trailer-play-button').forEach(i => i.addEventListener("click", function () {
        document.getElementById('youtube-container').setAttribute('src', `https://www.youtube-nocookie.com/embed/${i.id}?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0&amp;autoplay=1&amp;autoplay=1`);
    }));
    document.querySelectorAll('.close-btn, .modal-overlay').forEach(i => i.addEventListener("click", function () {
        document.getElementById('youtube-container').setAttribute('src', ``);
    }));
</script>