@model CinemaTic.ViewModels.Movies.MovieDetailsViewModel
@{
    ViewData["Title"] = $"Movie - {Model.Title}";
}

<link href="~/css/cinemas.css" rel="stylesheet" />
<link href="~/css/ratingmodal.css" rel="stylesheet" />
<partial name="_CinemaNavbarPartial" />
<div class="main-cinema-container text-white" style="padding-top: 20vh;">
    <div class="mt-3">
        <section id="trailer" class="dark noBg summary">
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col-xs-12 d-flex justify-content-between align-items-center">
                        <h3>@Model.Title</h3>
                        <div class="d-flex gap-1 justify-content-between" style="flex-basis: 35%;">
                            <div class="movie-rating-container">
                                <span>CinemaTic user rating</span>
                                <div class="rating-box d-flex gap-1 mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="average" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z" style=""></path>
                                    </svg>
                                    <div class="rating-number-box">
                                        <span>@string.Format($"{Model.AverageRating:f1} / 10.0") (@Model.RatingCount @string.Format($"{(Model.RatingCount == 1 ? "vote" : "votes")}"))</span>
                                    </div>
                                </div>
                            </div>
                            <div class="movie-rating-container">
                                <span>Your rating</span>
                                <div class="rating-box d-flex gap-1 mt-1">
                                    @if (Model.CurrentUserRating == null)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="personal not-rated open-popup-btn" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path></svg>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="personal open-popup-btn" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                            <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z" style=""></path>
                                        </svg>
                                    }
                                    <div class="rating-number-box d-flex align-items-center">
                                        @if (Model.CurrentUserRating == null)
                                        {
                                            <h6>Rate</h6>
                                        }
                                        else
                                        {
                                            <span>@Model.CurrentUserRating.Value.ToString("f1") / 10.0</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie-trailer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="trailer-container">
                                <div class="video-holder">
                                    <iframe id="trailer" src="https://www.youtube-nocookie.com/embed/@Model.TrailerId?hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0&amp;autoplay=1&amp;autoplay=1" aria-label="Trailer of @Model.Title" allowfullscreen="true"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-5">
            <div class="container-fluid">
                <div class="row">
                    <h5>More information about</h5>
                </div>
                <div class="row pt-3">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="row d-flex">
                            <div class="col-sm-5">
                                <h6>Running time:</h6>
                                <p>@Model.RunningTime minutes</p>
                            </div>
                            <div class="col-sm-4">
                                <h6>Average rating:</h6>
                                <p>@Model.AverageRating.ToString("f1") / 10.0 (@Model.RatingCount votes)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="movie-description">@Model.Description</p>
                            </div>
                        </div>
                        <div class="production-info">
                            <div class="production-info-box">
                                <h6>Cast:</h6>
                                <span class="actors">@string.Join(", ", @Model.Actors)</span>
                            </div>
                            <div class="production-info-box">
                                <h6>Director:</h6>
                                <span class="director">@Model.Director</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                        <img src="~/client-images/Movies/@Model.ImageUrl" alt="@Model.Title" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="rating-container d-flex justify-content-center align-items-center">
    <div id="modal" style="top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);" role="dialog" aria-modal="true" aria-labelledby="add-review-header" class="edit-modal">
        <button class="close-btn" aria-label="close" title="Close">x</button>
        <div id="review-form-container">
            <span class="average">RATE THIS</span>
            <span>@Model.Title</span>
            <form class="d-flex justify-content-center mb-5" id="review-form" asp-controller="Movies" asp-action="SetRating" method="post">
                <div class="fieldset">
                    <div class="rate mb-4">
                        @for (int i = 0; i < 10; i++)
                        {
                            <label class="modal-star-container" id="@i" for="rating-@i">
                                <input type="radio" id="rating-@i" name="rating" value="@(i+1)" />
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="rate" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path></svg>
                            </label>

                        }
                    </div>
                    <input asp-controller="Customer" asp-action="SetRating" asp-route-movieId="@Model.Id" method="post" id="submit-review-btn" class="w-100 rate-button" value="@(Model.CurrentUserRating == null ? "Rate" : "Change rating")" type="submit" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>
<style>
    #sticky-wrapper {
        background: linear-gradient(to right, #135058, #000);
        height: 15vh !important;
    }
</style>
<script src="~/js/rating-modal.js"></script>
<script>
    document.getElementsByClassName('app-container')[0].classList.add("h-100");
    document.getElementsByClassName('app-container')[0].classList.add("d-flex");
    document.querySelectorAll('.modal-star-container').forEach(i => {
        var containers = document.querySelectorAll('.modal-star-container');
        let index = Number(i.id);
        i.addEventListener('mouseover', function () {
            fillStars(containers, index);
        });
        i.addEventListener('click', function () {
            fillStars(containers, index);
            currentStars = Number(i.id);
        });
    });
</script>