@model Cinema.Data.Models.Actor

@{
    ViewData["Title"] = "Delete an actor";
}

<link href="~/css/adminStyle.css" rel="stylesheet" />
<link href="~/css/cardStyle.css" rel="stylesheet" />
<div class="moviesContainer flex-column front-panel">
    <h1 class="change-header">Are you sure you want to delete the following actor?</h1>
    <div class="owner-info">
        <p class="edited-object">Name: @string.Format($"{Model.FirstName} {Model.LastName}")</p>
        <p class="edited-object">Nationality: @Model.Nationality</p>
        <p class="edited-object">Birthdate: @Model.Birthdate.ToString("dd.MM.yyyy")</p>
        <p class="edited-object">IMDB rating: @Model.Rating / 10.0</p>
    </div>
    <form class="agreement-buttons" asp-controller="Actors" asp-action="Delete">
        <button type="submit" class="nx-btn green front-panel" asp-route-id="@Model.Id">Yes</button>
        <a class="nx-btn" asp-controller="Actors" asp-action="Index">No</a>
    </form>
</div>


