@model Cinema.Data.Models.Actor

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/ratingModal.css" rel="stylesheet" />
<div class="details front-panel">
    <div>
        <div class="short-info">
            <div class="section-line">
                <h1 class="section-line">@string.Format($"{Model.FirstName} {Model.LastName}")</h1>
            </div>
            <div class="short-info-line">
                <div class="info-box">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Nationality)</p>
                    <p class="info-box-desc">@Html.DisplayFor(model => model.Nationality)</p>
                </div>
                <div class="info-box">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Birthdate)</p>
                    <p class="info-box-desc">@Model.Birthdate.ToString("dd.MM.yyyy")</p>
                </div>
                <div class="rating-container">
                    <span>IMDB rating</span>
                    <div class="rating-box">
                        <i class="fa-solid fa-star ct-rating-star"></i>
                        <div class="rating-number-box">
                            <span>@string.Format($"{Model.Rating:f1}/10")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="section-line" />
        <div class="details-grid actor-details">
            <img class="cover-photo" src="~/@Cinema.Utilities.Constants.ImagesFolder/Actors/@Model.ImageUrl" />
            <section class="details-info">
                <div class="info-box">
                </div>
                <div class="info-box actors">
                    <p class="info-box-title">@Html.DisplayNameFor(model => model.Movies)</p>
                    <div class="info-box-desc">
                        @foreach (var movie in Model.Movies)
                        {
                        <a class="actor-name" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><b>@movie.Title</b></a>
                        }
                    </div>
                </div>
            </section>
        </div>
        <form class="edit-button">
            <a asp-controller="Actors" asp-action="Edit" asp-route-id="@Model.Id" class="nx-btn primary">Edit</a>
        </form>
    </div>
</div>